<div class="container" *ngIf="customer != null">
  <div id="form">
    <h1>Update customer</h1>
    <mat-form-field>
      <input matInput [(ngModel)]="customer.name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="customer.address" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="customer.phoneNumber" />
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="customer.email" />
    </mat-form-field>
    <div class="btn-container">
      <a mat-raised-button href="/customers"
        >cancel <mat-icon>cancel</mat-icon></a
      >
      <button mat-raised-button color="primary" (click)="updateCustomer()">
        save changes <mat-icon>update</mat-icon>
      </button>
    </div>
  </div>
</div>
