<div class="container">
  <form id="form" [formGroup]="form">
    <h1>Save customer</h1>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.get('name')?.invalid">{{
        getErrorMessage("name")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error *ngIf="form.get('address')?.invalid">{{
        getErrorMessage("address")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone-number</mat-label>
      <input matInput formControlName="phoneNumber" />
      <mat-error *ngIf="form.get('phoneNumber')?.invalid">{{
        getErrorMessage("phoneNumber")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')?.invalid">{{
        getErrorMessage("email")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>País</mat-label>
      <input matInput formControlName="country" />
      <mat-error *ngIf="form.get('country')?.invalid">{{
        getErrorMessage("country")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="city" />
      <mat-error *ngIf="form.get('city')?.invalid">{{
        getErrorMessage("city")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bandeira do cartão de crédito</mat-label>
      <input matInput formControlName="creditCardType" />
      <mat-error *ngIf="form.get('creditCardType')?.invalid">{{
        getErrorMessage("creditCardType")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número de filhos</mat-label>
      <mat-select [(value)]="filhos">
        <mat-option value="0">Nenhum filho</mat-option>
        <mat-option value="1">1 Filho</mat-option>
        <mat-option value="2">2 Filhos</mat-option>
        <mat-option value="3">3 Filhos</mat-option>
        <mat-option value="4">4 Filhos</mat-option>
        <mat-option value="5">5 Filhos</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Salário</mat-label>
      <input matInput type="number" formControlName="salary" />
      <mat-error *ngIf="form.get('salary')?.invalid">{{
        getErrorMessage("salary")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado Civil</mat-label>
      <mat-select [(value)]="casado">
        <mat-option value="sim">Casado</mat-option>
        <mat-option value="nao">Solteiro</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gênero</mat-label>
      <mat-select [(value)]="genero">
        <mat-option value="male">Masculino</mat-option>
        <mat-option value="female">Feminino</mat-option>
        <mat-option value="other">Outro</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="btn-container">
      <a mat-raised-button href="/customers"
        >cancel <mat-icon>cancel</mat-icon></a
      >
      <button mat-raised-button color="primary" (click)="handleSubmit()">
        save customer <mat-icon>create</mat-icon>
      </button>
    </div>
  </form>
</div>
